:root{
    --battleStationHalfWidth:0px; 
}
/* body - The main body for the browser. */
body{
    padding: 0;
    margin: 0; 
}

/* * - All the elements in the application. */
*{
    box-sizing: border-box;
}

.no-clicks{
    pointer-events: none; 
}

/************************************************************************************************************************************************************************/
/************************************************************************************************************************************************************************/
/* |Mobile Viewports| */
@media screen and (max-width: 600px){
    /* |Main Content| */
    #content{
        border: 1px solid red; 
        padding: 5px; 
    }

    /* |Main Menu Content| */
    .main-menu-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        border: 1px solid blue;
    }

    /* |Shuffle Cards Content| */
    .shuffle-cards-content{
        display: flex;
        flex-direction: column;
        gap: 10px;

        border: 1px solid  orange; 
        margin-top: 10px;
        padding: 3px;
    }

    .display-shuffled-cards{ /* Display Shuffled Cards */
        display: flex; 
        gap: 3px;

        padding: 10px;
        border: 1px solid green; 
    }
    .display-shuffled-cards > div{ /* Cards in the 'display shuffled cards' */ 
        flex: 1;

        text-align: center; 
        font-size: 11px; 
        border: 1px solid purple;
        height: 80px;
    }
    .shuffle-card-animation{ /* shuffle card animation for 'display shuffled cards' */
        animation-name: shuffle-card-anim;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
    }
    @keyframes shuffle-card-anim{
        from{
            transform: scale(1);
        }
        to{
            transform: scale(1.2); 
        }
    }

    .view-card{ /* View cards in 'display shuffled cards'*/
        position: absolute;
        top: 0;
        right: 0; 
        width: 100%;
        height: 400px; 
        padding: 5px;
        border: 1px solid black; 
        background-color: rgba(0, 0, 0, 0.658);
    }
    .open-view-card{
        animation-name: open-view-card-anim;
        animation-duration: .5s;
        animation-timing-function: ease-out;
        will-change: transform; 
    }
    @keyframes open-view-card-anim{
        from{
            transform: perspective(800px) translate3d(0, 0, -1500px); 
        }
        to{
            transform: perspective(800px) translate3d(0,0,0);
        }
    }
    .close-view-card{
        animation-name: close-view-card-anim; 
        animation-duration: .5s; 
        animation-timing-function: ease-in;
        will-change: transform; 
    }
    @keyframes close-view-card-anim{
        from{
            transform: perspective(800px) translate3d(0, 0, 0); 
        }
        to{
            transform: perspective(800px) translate3d(0, 0, -1500px); 
        }
    }
    .view-card > div{ 
        display: flex;
        justify-content: end;

        border: 1px solid orange; 
    }
    .view-card > div > img[src]{ /* Close Button */
        height: 50px;
    }

    .display-number-of-shuffles{ /* Display Number of Shuffles */
        border: 1px solid black;
        text-align: center; 
    }
    .shuffle-limit-reached{ /* Shuffle Limit Reached */
        animation-name: shuffle-limit-reached-anim;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
    }
    @keyframes shuffle-limit-reached-anim{
        from{
            transform: scale(1); 
            border-color: initial;
        }
        to{
            transform: scale(1.1);  
            border-color: red; 
        }
    }

    /* |Loading Room Content| */
    .loading-room-content{
        border: 1px solid purple; 
        margin-top: 10px; 
        padding: 3px;
    }

    /* |Battle Arena Content| */
    .battle-arena-content{ 
        display: flex; 
        flex-direction: column; 
        gap: 10px; 

        border: 1px solid lightcoral;
        margin-top: 10px;
        padding: 3px; 
    }
    .singularity-point-station{ /* Singularity Point Station */
        display: flex;

        border: 1px solid darkorange; 
        padding: 3px; 
    }
    .singularity-point-station > div{ /* User Singularity Points & Comp Singularity Points */
        flex: 1; 

        border: 1px solid red;
        text-align: center;
    }
    .battle-station{ /* Battle Station */
        display: flex;
        justify-content: space-between; 
        gap: 100px;

        border: 1px solid blue;
        padding: 3px;
    }
    .battle-station > div{ /* User & Computer battle card */
        border: 1px solid black;
        height: 80px; /* Testing width */
        width: 80px; /* Testing height */
    }

    .card-deck-station{ /* Card Deck Station */
        display: flex;
        justify-content: space-between;
        gap: 5px;

        border: 1px solid darkgreen;
        padding: 3px;
    }
    .card-deck-station > div:nth-child(1){ /* User Deck Station */
        display: flex;
        gap: 5px;

        border: 1px solid black;
        padding: 2px;
    }
    .card-deck-station > div:nth-child(1) > div{ /* User cards in deck station */ 
        text-align: center; 
        border: 1px solid red;
        font-size: 8px;
        width: 30px; /* Testing width */
    }

    .card-deck-station > div:nth-child(2){ /* Comp Deck Station */
        display: flex;
        gap: 5px;
        
        border: 1px solid black;
        padding: 2px;
    }
    .card-deck-station > div:nth-child(2) > div{ /* Comp cards in deck station */
        text-align: center;
        border: 1px solid blue;
        font-size: 8px;
        width: 30px;  /* Testing width */ 
    }

    .card-stat-station{ /* Card Stat Station */
        display: flex; 
        justify-content: space-around; 
        gap: 100px; 

        border: 1px solid yellowgreen; 
        padding: 2px; 
    }
    .card-stat-station > div /* User & Comp Card Stats */
    {
        border: 1px solid black; 
        font-size: 15px;
        padding: 3px; 
    }

    .control-station{ /* Control Station */
        display: flex; 
        justify-content: center; 
        gap: 5px; 

        border: 1px solid darkcyan;
        padding: 2px; 
    }

    .user-atk-movement{ /* User Attack Movement */
        animation-name: userAtkMovement;
        animation-duration: .5s;
        animation-timing-function: ease-out;
        will-change: transform; 
    }
    @keyframes userAtkMovement{
        from{
            transform: translateX(0);
        }
        to{
            transform: translateX(var(--battleStationHalfWidth)); 
        }
    }

    .user-damage-container{ /* User Damage Container Message */
        position: absolute;
        border: 1px solid black;

        animation-name: userDamageContainerAnim;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards; 
    }
    @keyframes userDamageContainerAnim{
        from{
            transform: translate3d(0, -20px,0);
        }
        to{
            transform: translate3d(140px, -100px, 200px);
        }
    }

    .comp-atk-movement{ /* Computer Attack Movement */
        animation-name: compAtkMovement;
        animation-duration: .5s;
        animation-timing-function: ease-in-out;
        will-change: transform;
    }
    @keyframes compAtkMovement{
        from{
            transform: translateX(0);
        }
        to{
            transform: translateX(var(--battleStationHalfWidth));
        }
    }

    .comp-damage-container{ /* Computer Damage Container Message */
        position: absolute;
        border: 1px solid black;

        animation-name: compDamageContainerAnim;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
    }
    @keyframes compDamageContainerAnim{
        from{
            transform: translate3d(0,-20px,0);
        }
        to{
            transform: translate3d(-140px, -100px, 200px); 
        }
    }

    .user-def-movement{ /* User Defend Movement */
        animation-name: userDefendAnim;
        animation-duration: .2s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
    }
    @keyframes userDefendAnim{
        from{
            transform: rotate(0); 
        }
        to{
            transform: rotate(10deg);
        }
    }

    .comp-def-movement{ /* Comp Defend Movement */
        animation-name: compDefendAnim;
        animation-duration: .2s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
    }
    @keyframes compDefendAnim{
        from{
            transform: rotate(0);
        }
        to{
            transform: rotate(-10deg);  
        }
    }
    
    .death{ /* Death for User|Comp Cards. */
        background-color: red;
        animation-name: deathAnim;
        animation-duration: .6s;
        animation-timing-function: ease-in-out;
    }
    @keyframes deathAnim{
        0%{
            transform: rotateX(0);
        }
        20%{
            transform: rotateX(90deg);
        }
        40%{
            transform: rotateX(0);
        }
        60%{
            transform: rotateX(90deg);
        }
        80%{
            transform: rotateX(0); 
        }
        100%{
            transform: rotateX(90deg); 
        }
    }

    .critical-hit-damage{ /* Critical Hit Damage Animation */
        animation-name: criticalHitDmgAnim;
        animation-duration: .3s;
        animation-timing-function: ease-in-out;
    }
    @keyframes criticalHitDmgAnim{
        0%{
            transform: rotateY(60deg);
        }
        30%{
            transform: rotateY(0);
        }
        50%{
            transform: rotateY(-60deg);
        }
        70%{
            transform: rotateY(0);
        }
        100%{
            transform: rotateY(60deg); 
        }
    }

    .regular-hit-damage{ /* Regular Hit Damage Animation */
        animation-name: regularHitDmgAnim;
        animation-duration: .3s;
        animation-timing-function: ease-in-out;
    }
    @keyframes regularHitDmgAnim{
        0%{
            transform: rotateY(30deg); 
        }
        50%{
            transform: rotateY(0); 
        }
        70%{
            transform: rotateY(-30deg); 
        }
        100%{
            transform: rotateY(0); 
        }
    }

    .regular-hit-damage-def{

    }
}